body{
    margin: 0; 
    padding: 0;
    background-color: black;
    color: white;
}

.logo{
    height: 70px;
    width: 70px;
}

.logo img{
    height: 70px !important;
    width: 70px !important;
}