 body{
    margin: 0; 
    padding: 0;
    background-image: url(https://tse4.mm.bing.net/th?id=OIP.juYo5LVo6b0D5hPtSmRAVAHaEK&pid=Api&P=0&h=180)!important;
}

.logo{
    height: 70px !important;
    width: 70px !important;
}

.logo img{
    height: 75px !important;
    width: 75px !important;
}
img{
    border-radius: 50px;
    padding: 20px;
}
.col{
    background-image: url(https://wallpaperaccess.com/full/498984.jpg);
    border-radius: 30px;
    margin: 20px;
    text-align: center;
} 
